.main-box{
	width: 96%;
	margin-left: 2%;
	margin-top: 15px;
	.top-nav{
		width: 100%;
		height: 25px;
		line-height: 25px;
		background-color: #f7f7f7;
		text-indent: 10px;
	}
	.ul-2{
        width: 100%;
        height: 100px;
        font-size: 0;
        margin-top: 15px;
        li{
            width: 11.625%;
            height: 100%;
            display: inline-block;
            box-sizing: border-box;
            background-color: #43bab1;
            font-size: 14px;
            vertical-align: top;
            border-radius: 5px;
            transition: transform .6s;
            &:hover{
                background-color: #46c6bc;
                transform: translateY(-10%) scale(1.1);
            }
            &:not(:nth-child(1)){
                margin-left: 1%;
            }
            h1{
                width: 100%;
                height: 15px;
                line-height: 15px;
                margin-top: 8px;
                text-align: center;
                color: #FFF;
            }
            h2{
                width: 100%;
                height: 30px;
                line-height: 30px;
                text-align: center;
                font-size: 22px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: #FFF;
            }
            p{
                text-align: center;
                color: #FFF;
                .anticon{
                    color: #FFF;
                }
                &.up{
                    .anticon{
                        color: #fd6448;
                    }
                }
                &.down{
                    .anticon{
                        color: #03ab07;
                    }
                }
            }
        }
    }
}