@import 'reset';

html, body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.main{
    width: 360px;
	padding: 10px 0 30px 0;
	position: absolute;
	top: 20%;
	left: 50%;
	margin-left: -200px;
	h1{
	    width: 100%;
	    height: 80px;
	    text-align: center;
	    img{
	        height: 80px;
	    }
	}
	ul{
	    width: 90%;
	    margin-left: 5%;
	    margin-top: 10px;
	    li{
	        height: 40px;
	        line-height: 40px;
	        label{
	            width: 16%;
	            float: left;
            }
            > span{
                width: 84%;
                float: right;
                input{
                    height: 40px;
                }
            }
            &:nth-child(3){
                button{
                    width: 84%;
                    height: 40px;
                    margin-left: 16%;
                    span{
                        color: #FFF;
                    }
                }
            }
            &:nth-child(n+2){
                margin-top: 20px;
            }
	    }
	}
}